<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | strip_html }}" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
    <meta name="author" content="Václav Klecanda">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow,snippet,archive" />


    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ page.description | strip_html }}" />
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
    {% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="shortcut icon" href="/static/favicon.ico">


    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css" />

    <script src="/static/script.js"></script>
  </head>

<body>

  <div class="row">
    <div class="small-12 medium-4 large-6 columns namelogo">
      <h1>Smolenka</h1>
      <h3>Síla stromů</h3>
    </div>
    <div class="small-12 medium-8 large-6 columns">
      <div class="nav-bar">
        <ul class="button-group">
          {% include nav.html %}
        </ul>
      </div>
    </div>
  </div>

  {{ content }}

  {% include footer.html %}

</body>
